$appbar-height: 40px;
$list-width: 300px;
$gap: 10px;
$scrollbar-thickness: 17px;
$list-header-height: 36px;
$list-footer-height: 36px;

$list-border-raius: 5px;
$card-border-radius: 3pc;

$appbar-bg-color: #0067A3;
$board-bg-color: #0079BF;
$list-bg-color: #E2E4E6;

$list-footer-height: 36px;
