$appbar-height: 40px;
$list-width: 300px;
$gap: 10px;
$scrollbar-thickness: 17px;
$list-header-height: 40px;
$list-footer-height: 40px;
$textarea-height: 84px;

$list-border-radius: 5px;
$card-border-radius: 3px;

$card-composer-radius: 3px;

$appbar-bg-color: #0067A3;
$board-bg-color: #0079BF;
$list-bg-color: #E2E4E6;
$card-hover-bg-color: #F4F5F7;

$button-color: #4E4E4E;
$button-hover-color: #3E3E3E;
$button-hover-bg-color: #DADCDE;

